[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
decorator = "==4.0.10"
docutils = "*"
ebaysdk = "==2.1.5"
feedparser = "==5.2.1"
gevent = "==1.3.4"
greenlet = "==0.4.13"
html2text = "==2016.9.19"
lxml = "==4.2.3"
mock = "==2.0.0"
num2words = "==0.5.6"
ofxparse = "==0.16"
passlib = "==1.6.5"
phonenumbers = "*"
psutil = "==4.3.1"
psycopg2 = "==2.7.3.1"
pydot = "==1.2.3"
pyldap = "==2.4.28"
pyparsing = "==2.1.10"
pyserial = "==3.1.1"
python-dateutil = "==2.5.3"
pytz = "==2016.7"
pyusb = "==1.0.0"
qrcode = "==5.3"
reportlab = "==3.3.0"
requests = "==2.20.0"
suds-jurko = "==0.6"
vatnumber = "==1.2"
vobject = "==0.9.3"
xlwt = "==1.3.*"
xlrd = "==1.0.0"
Babel = "==2.3.4"
Jinja2 = "==2.10.1"
Mako = "==1.0.4"
MarkupSafe = "==0.23"
Pillow = "==4.0.0"
PyPDF2 = "==1.26.0"
PyYAML = ">=4.2b1"
Werkzeug = ">=0.15.3"
XlsxWriter = "==0.9.3"
premailer = "*"
email-validator = "*"
lasso = "*"
pyotp = "*"
python-u2flib-server = "*"
responses = "*"
Pygments = "*"
click = "*"
validate_email = "*"
cachetools = ">=2.0.1"
checksumdir = "*"
raven = "*"
pysftp = "*"
acme-tiny = "*"
IPy = "*"
pyOpenSSL = "*"
pycountry = ">=0.19"
pyquerystring = "*"
parse-accept-language = "*"
jsondiff = "*"
Cerberus = "*"
zpl2 = ">=1.1"
geojson = "==2.4.1"
Shapely = "==1.6.4.post2"
sphinx-patchqueue = ">=1.0"
Sphinx = ">=1.2"
bokeh = "==0.12.7"
viivakoodi = "*"
mysqlclient = "*"
pymssql = "*"
SQLAlchemy = "*"
fdfgen = "*"
py-Asterisk = "*"
SOAPpy = "*"
numpy = "*"
pylint-odoo = "*"

[requires]
python_version = "3.7"
